.auth-wrapper {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(10, 10, 10, 0.6), rgba(0, 0, 0, 0.9)),
    repeating-linear-gradient(
      0,
      transparent,
      transparent 2px,
      black 3px,
      black 3px
    ),
    url("https://cutewallpaper.org/21/cyberpunk-wallpapers-4k/55-Cyberpunk-Wallpapers-Download-at-WallpaperBro.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
}

.auth-form {
  width: 320px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  margin: auto;
  display: block;
  border-radius: 7px;
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    &:hover {
      color: #00577c;
    }
  }
}
