.authWrapper {
  width: 100vw;
  height: 100vh;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  overflow: hidden;
}
.authFormContainer {
  width: 300px;
  margin: 200px auto;
  background-image: linear-gradient(
    to right,
    #16222a 0%,
    #3a6073 51%,
    #16222a 100%
  );

  img {
    width: 300px;
    height: 150px;
  }
  form {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  button[type="submit"] {
    width: 200px;
    height: 40px;
    margin: 10px auto;
    background: transparent;
    color: white;
    border-style: hidden;
    cursor: pointer;
  }

  a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    text-align: end;
  }
  a:hover {
    color: #2c5364;
  }
}
.authErrorHandler {
  margin-top: -5px;
  padding: 10px;
  background-color: red;
  transition: background-color 2s ease-in-out;
}

.auth-wrapper {
  height: 100vh;
  width: 100vw;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
  overflow: hidden;
}

.auth-form {
  width: 320px;
  height: 405px;
  padding: 50px 40px 40px;
  background: white;
  margin: auto;
  margin-top: 150px;
  display: block;
  border-radius: 7px;
}
.auth-form img {
  width: 150px;
  height: 150px;
  margin: auto;
  display: block;
  padding-bottom: 20px;
}

.auth-form input {
  width: 100%;
  height: 20px;
  display: block;
  box-sizing: border-box;
  margin-bottom: 6px;
}
.auth-form button[type="submit"] {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: #0f2027;
  background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
  background: linear-gradient(to right, #2c5364, #203a43, #0f2027);  display: block;
  border-style: hidden;
  color: white;
}
.auth-form a{
  text-decoration: none;
  color: black;
  font-weight: 800;
}
.auth-form a:hover{
  color: #00577c;
}