.leftNav {
  width: 250px;
  height: 100%;
  font-size: 10px;
  background-color: rgba(70, 70, 70, 0.9);
  border: 2px solid #000000;
  nav {
    display: flex;
    flex-direction: column;
  }
  a {
    padding: 5px;
    text-decoration: none;
    color: white;
    display: flex;
    &:hover {
      background-color: rgba(163, 163, 163, 0.5);
    }
  }
  span {
    font-size: 16px;
  }
}
.menu-sprite {
  width: 32px;
  height: 40px;
  background-image: url(https://www.thecrims.com/static/images/menu/menu-sprites.png);
}

#menu-sprite-robbery {
  background-position: -256px 0;
}
#menu-sprite-nightlife {
  background-position: -448px 0;
}

#menu-sprite-hospital {
  background-position: -512px 0;
}

#menu-sprite-prison {
  background-position: -544px 0;
}
